@import loadergear
@import colors

html, body
    margin: 0
    padding: 0

body
    font-family: 'Roboto'
    font-weight: 400
    color: $secondColor
    min-height: 360px

.body-overflow-hidden
    overflow: hidden

.nav
    width: 100%
    max-height: 80px
    height: 80px
    position: relative
    top: 0
    left: 0
    cursor: pointer

.desktop-nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    margin-top: 40px
    ul
        display: flex
        flex-direction: row
        gap: 40px
        padding: 0
        margin: 0
        align-items: center
        li
            list-style-type: none
            text-transform: uppercase

.topline
    display: block
    position: relative
    width: 100%
    height: 70px
    left: 0
    top: 0
.glinescreen
    width: 100%
    position: absolute
    left: 0
    top: 0
    height: 30px
    background: $secondColor
.vlinecenter
    display: block
    position: absolute
    width: 45px
    height: 70px
    // height: 100vh
    // opacity: 0.5
    left: 50%
    top: 0
    transform: translate(-50%, 0)
    background: $secondColor

.tlogo
    display: block
    position: relative
    width: 60px
    height: 60px
    left: 50%
    top: 0
    transform: translate(-50%, 0)
.tlogo-gline
    position: absolute
    width: 100%
    left: 0
    top: 0
    height: 15px
    background: $firstColor
.tlogo-vline
    position: absolute
    width: 15px
    height: 100%
    left: 50%
    transform: translate(-50%,0)
    top: 0
    background: $firstColor

@keyframes mobile-menu
    0%
        transform: translateX(100%)
    100%
        opacity: 1
        transform: translateX(0)

.mobile-nav
    .vlinesmall
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
    ul
        padding: 0
        margin: 0 0 0 0
        position: fixed
        z-index: 9
        width: 70%
        min-width: 300px
        min-height: 100vh
        right: 0
        top: 0
        background-color: $firstColor
        opacity: 0
        transition: .3s
        transform: translate(100%,0)
        animation: mobile-menu .5s both
        overflow-y: scroll
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        box-shadow: 0 0 0 100vw rgba(0,0,0,0.75)
        li
            list-style-type: none
            width: 100%
            height: 75px
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            font-size: 36px

        @media screen and (orientation: landscape)
            max-height: 100vh
            padding: 0
            overflow-y: scroll
            li
                height: 50px
                font-size: 1.5rem

.nav-button
    width: 60px
    height: 80px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    gap: 10px
    top: 20px
    right: 20px
    z-index: 10
    transition: .3s
    span
        transition: .3s
        width: 100%
        height: 3px
        background: $secondColor
.nav-button__open
    span
        transform-origin: center
        transition: .3s
        position: absolute
        &:first-child
            transform-origin: center
            transform: rotate(45deg)
        &:nth-child(2)
            transition: 0.5s
            transform: scale(3) scale(0)
        &:last-child
            transform-origin: center
            transform: rotate(-45deg)

        span
            &:nth-child
                transform: rotate(-45deg)
.contact-icons
    display: flex
    justify-content: center
    align-items: center

.t
    position: absolute
    left: 50%
    z-index: 10
    transform: translateX(-50%)

.content
    min-height: calc(100vh - 280px)
    max-width: 1440px
    margin: 0 auto
    margin-top: 60px
    h1
        color: $secondColor
        font-size: 144px
        line-height: 0.75
        padding: 0
        margin: 0
    .headline
        align-self: flex-start
        display: flex
        justify-content: flex-end
        position: relative
        min-height: 100px
        width: 100%
        h1
            z-index: -1
            opacity: 0.2
            display: block
            position: absolute
            left: 52%
            bottom: 0
            text-align: right
            letter-spacing: 0.1
            transform: translate(-100%, 50%)
        @media screen and (max-width: 992px)
            h1
                font-size: 100px
                left: 0
                transform: translate(0,0)

h1, h2, h3, h4, h5, h6
    color: $secondColor

h3
    margin: 40px 0 0 0

button
    padding: 10px 40px
    font-size: 1.1rem

.light-button
    background-color: transparent
    border: 2px solid $secondColor
    color: $secondColor
    transition: .3s
    cursor: pointer
    &:hover
        background-color: $secondColor
        border: 2px solid $secondColor
        color: $firstColor

.footer
    position: relative
    height: 70px
    margin-top: 70px

.footer-vline
    display: block
    position: absolute
    width: 45px
    height: 70px
    left: 50%
    bottom: 0
    transform: translate(-50%, 0)
    background: $secondColor

.modal-window
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 100px


.button-close
    margin-top: 90px
    width: 60px
    height: 60px
    border-radius: 100%
    position: relative
    cursor: pointer
    background: $firstColor
    transition: .2s
    box-shadow: 0px -3px 10px 0px rgb(0 0 0 / 50%)
    &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 80%
        height: 3px
        background: $secondColor
        transform: translateX(-50%) rotate(45deg)
    &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 80%
        height: 3px
        background: $secondColor
        transform: translateX(-50%) rotate(-45deg)
    &:hover
        transform: rotate(360deg)
.modal-content
    margin-top: 25px
    max-width: 630px
    margin: auto
    h1
        font-size: 2rem
    h1, p
        padding: 0
        margin: 0
    p
        margin-top: 1rem
    .modal-description
        margin-top: 25px
        img
            max-width: 100%
    button
        margin-top: 25px
.modal-footer
    position: relative
    margin-top: 150px

.workslistslider
    .swiper-slide
        transition: .3s
        transform: scale(0.8)
    .swiper-slide-active
        transition: .3s
        transform: scale(1)
    .swiper-slide
        display: flex
        justify-content: center

.full-screen-image-wrapper
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    z-index: 99
    background: rgba(0,0,0,0.5)
.full-screen-image
    max-width: 80vw
    max-height: 90vh

@media screen and (max-width: 992px)
    .modal-content
        max-width: 100%
        h1
            padding: 10px
        .modal-description
            padding: 10px
            margin: 0
        button
            width: 100%
            max-width: 380px
            margin: 10px



.contact-icons
    display: flex
    gap: 5px